/* footer */
.footer {
  border-radius: 30px 30px 0 0;
  background: #fff;

  color: #000;
  font-family: "Manrope", sans-serif;
}

.footer section {
  padding-bottom: 34px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
}

.footer__whos {
  padding: 71px 8px 66px;
}

.footer-nav__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-nav__network {
  text-decoration: none;
}

.footer__detail {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.footer__detail-rights {
  padding-left: 8px;

  opacity: 0.5;
}

@media (max-width: 1199px) {
  .footer-nav {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer__detail {
    padding-left: 40px;
    padding-right: 45px;
  }
}

@media (max-width: 767px) {
  .footer {
    border-radius: 0;
  }

  .footer-nav {
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 47px 0 0 15px;
  }

  .footer-nav__list {
    justify-content: flex-start;
    gap: 13px;
  }

  .footer__detail {
    flex-direction: column;
    gap: 12px;
    padding: 40px 0 0 15px;
  }
}
