/* info */
.head__info {
  width: 430px;
  margin-bottom: 29px;
  padding-left: 8px;

  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
}

.head__name {
  max-width: 919px;
  padding-left: 6px;
  margin-bottom: 94px;
}

@media (max-width: 1199px) {
  .head__info {
    padding-left: 15px;
  }

  .head__name {
    max-width: 727px;
    margin-bottom: 60px;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .head__info {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 53px;

    font-size: 15px;
    letter-spacing: -0.45px;
  }

  .head__name {
    width: 100%;
    padding-left: 10px;
    padding-right: 12px;
  }
}