/*.button {
   Позиционирование 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

   Блоковая модель 
  width: 200px;
  height: 50px;
  margin: 20px 0;
  padding: 0 20px;
  box-sizing: border-box;

   Визуал 
  background: #ad1818;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  Текст 
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;

   Эффекты 
  transition: background 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background: #900;
  transform: translateY(-2px);
}
*/


/* Базовые настройки */
html {
    scroll-behavior: smooth;
}
body {
    background: #000;

    font-family: "IBM Plex Mono", monospace;
    color: #fff;
}

.container {
    max-width: 1165px;
    margin: 0 auto;
    padding-bottom: 150px;
}



/* Заголовки */
h1 {
    width: 919px;
    height: 205px;

    color: #1BFF07;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -2.4px;
}

h2 {
    font-size: 55px;
    line-height: normal;
    letter-spacing: -1.65px;
}

h3 {
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

h4, .nav__text__item {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: lowercase;
}

p {
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}



/* header */
.fullscreen {
    display: block;
    position: relative;

    width: 100%;
    height: 765px;
    margin-bottom: 150px;

    background-image: url('../resourses/fullscreen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container__fullscreen {
    padding-left: 15px;
    padding-top: 36px;
    padding-bottom: 259px;
}

.nav__logo {
    display: inline-block;

    width: 170px;
    height: 39px;

    border-radius: 100px;
    background: #000;
}

.nav__logo__text {
    padding-left: 9px;

    color: #1BFF07;
    font-size: 42.414px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -4.666px;
    text-transform: uppercase;
}

.nav__text {
    display: inline-block;

    margin-left: 442px;
    vertical-align: top;
}

.nav__text__item {
    display: inline-block;

    margin-right: 50px;

    color: #FFF;
    text-decoration: none;
}

.nav__text__item:nth-last-child(1) {
    margin-right: 0;
}

.nav__text__item:hover {
    color: #1BFF07;
}



/* main */
/* info */
.info {
    width: 430px;
    height: 103px;
    margin-bottom: 29px;
    padding-left: 8px;

    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    }

.name {
    margin-bottom: 94px;
    padding-left: 2px;
}


/* projects */
.fresh-projects {
    padding-left: 3px;
}

.examples {
    margin: 40px 0 80px;
    padding-left: 8px;
}

.examples__item {
    position: relative;

    width: 1150px;
    height: 550px;
}

.examples1 {
    background-image: url('../resourses/examples1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.examples2 {
    background-image: url('../resourses/examples2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.examples3 {
    background-image: url('../resourses/examples3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.examples__item__head {
    position: absolute;

    top: 410px;
    left: 50px;
}

.examples__item__text {
    position: absolute;

    top: 461px;
    left: 50px;

    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
    }

.all-projects {
    width: 582px;
    height: 153px;
    padding-left: 6px;

    border-radius: 10px;
    background: #1BFF07;
}

.all-projects:hover {
    background: #000;
    border-radius: 4.674px;
    border: 1px solid #1BFF07;
}

.all-projects__text {
    display: block;
    
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 30px;
    line-height: 153px;
    letter-spacing: -0.9px;
}

.all-projects__text:hover {
    color: #1BFF07;
}



/* competencies */
.competencies__head {
    margin-left: 6px;
}

.competencies__list {
    margin-top: 48px;
}

.competencies__list__item {
    margin-bottom: 60px;
}

.competencies__list__item:nth-last-child(1) {
    margin-bottom: 0;
}

.competencies__list__item__img {
    width: 45px;
    height: 44px;
    margin-bottom: 12px;
    margin-left: 8px;
}

.competencies__list__item__head {
    color: #1BFF07;
    margin-bottom: 15px;
    margin-left: 6px;
}

.competencies__list__item__text {
    width: 778px;
    margin-left: 6px;
}



/* helping */
.helping__exercises {
    width: 403px;
    margin-left: 8px;
}

.helping__case {
    margin-top: 74px;
    margin-left: 8px;
}

.helping__case__item {
    margin-bottom: 74px;
}

.helping__case__item:nth-last-child(2) {
    margin-bottom: 137px;
}

.helping__case__item:nth-last-child(1) {
    margin-bottom: 0;
}

.helping__case__item__img {
    width: 1150px;
    height: 200px;

    border-radius: 30px;
}

.helping__case__item__place {
    width: 1150px;
    height: 283px;

    border-radius: 30px;
    background: #191C19;
}

.helping__case__item__place__head {
    width: 1048px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-left: 40px;

    color: #1BFF07;
}

.helping__case__item__place__text {
    width: 749px;
    margin-left: 40px;
}



/* connection */
.connection {
    position: relative;
    height: 717px;

    background-image: url('../resourses/connection.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 30px;
}

.connection__head {
    position: absolute;

    top: 322px;
    padding-left: 8px;
}

.connection__list {
    position: absolute;

    top: 405px;
    padding-left: 8px;
}

.connection__list__item {
    margin-bottom: 20px;
}

.connection__list__item__text {
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-decoration: none;
}

.connection__list__item__text:hover {
    color: #1BFF07;
}



/* footer */
.footer {
    height: 289px;

    border-radius: 30px;
    background: #FFF;

    color: #000;
    font-family: "Manrope", sans-serif;
}

.container__footer {
    margin-top: 150px;
    padding-bottom: 0;
}

.footer__whos {
    padding: 71px 8px 66px;
}

.footer__rights {
    padding-left: 8px;

    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;

    opacity: 0.5;
}